<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="title">REGISTER</div>
  <%= devise_error_messages! %>
    <div class="input">
       <%= f.label :ユーザーネーム %><br />
       <%= f.text_field :username ,autofocus: true,  autocomplete: "username" %>
       <span class="spin"></span>
    </div>
    <div class="input">
       <%= f.label :Email %><br />
       <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       <span class="spin"></span>
    </div>
    <div class="input">
        <label for="reregpass">Password</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <span class="spin"></span>
    </div>
    <div class="input">
       <%= f.label :RepeatPassword %><br />
       <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
       <span class="spin"></span>
    </div>

    <div class="button">
      <div class="actions">
      <button><%= f.submit "Sign up", :class =>"btn" %></button>
      </div>
    </div>
    <% end %>