<div class="users_show_chats_box">
	<div class="users_show_chats">
		<div class="users_show_chats_table">
			<% @talk1.each do |talk| %>
			<div class="user_show_talks">
				<div class="users_show_chats_litle_box">
					<div class="user_show_talk_image", width="150px"><%= attachment_image_tag talk.user, :image,:size => "35x35",fallback: 'no_image.jpg', class: "users_show_chat_image_cicle" %>
					</div>
					<br>
					<div class="user_show_talk_name" width="150px">
						<span><%= talk.user.username  %></span>
					</div>
				</div>
				<div class="users_show_chats_litle_box">
					<div class="product_show_comment_date clearfix">
	                	<span style="float: left"><%= talk.created_at.strftime('%Y/%m/%d') %></span>
	            	</div>

					<div class="product_show_balloon">
						<div class="user_show_talk_content">
							<p class="abc"><%= talk.user_talk %></p>
						</div>
						<% if talk.user_id == current_user.id %>
						<div class="user_show_talk_destroy">
							<p><%= link_to "", user_talk_path(talk.id), method: :delete, class: "far fa-trash-alt my-gray", "data-confirm" => "本当に削除しますか?"%></p>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		</div>

		<div class="users_show_chats_send">
			<%= form_for(@talk,url: user_talks_path(user_id: @user.id)) do |f| %>
			<%= f.text_area :user_talk, :size => "42x3",placeholder:"100文字以内" %>
		    <%= button_tag :type => "submit", :class =>"btn btn-info" do %>
		      コメントする
		    <% end %>
			<% end %>
		</div>
	</div>
</div>

<style>
.users_show_chats_box{
	width: 100%;
	margin: 10px auto;
}

.users_show_chats_table{
	padding: 10px;
	background:repeating-linear-gradient(-30deg, rgb(250, 250, 250) 0, rgb(250, 250, 250) 10px, rgb(245, 245, 245) 10px, rgb(245, 245, 245) 20px);
}
.user_show_talks{
	width: 100%;
	display: -webkit-box;
}
.users_show_chat_image_cicle{
	border-radius: 400px;
	border: 1px solid #999999;
}
.user_show_talk_image,.user_show_talk_name,.user_show_talk_contents{
	display: inline-block;
}
.user_show_talk_content{
	background: #d7ebfe;
	width: 300px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 12px;
	text-align: left; 
	padding: 15px;
	word-break: break-word;
}
.user_show_talk_destroy{
    margin-left: 186px;
    margin-top: -22px;

}

.users_show_chats_table{
	overflow: scroll;
	height:170px;
	width: 100%;
	background-color: #fff;
	border: 1px solid;
	border-radius: 5px;
}
.users_show_chats_send{
	margin-top: 10px
}
.product_show_comment_date{
	margin:0;
}

.users_show_chats_litle_box{
	margin: 0;
}
.users_show_chats_litle_box span{
	margin:1px 0;
	font-size: 8px;
}

/*ふきだし*/

.user_show_balloon {
margin-bottom: 2em;
position: relative;
}

.user_show_balloon:before,.user_show_balloon:after {
clear: both;
content: "";
display: block;
}

.user_show_talk_content {
position: relative;
padding: 10px;
border: 1px solid;
border-radius: 10px;
max-width: -webkit-calc(100% - 70px);
max-width: calc(100% - 70px);
display: inline-block;
border-color: #aaa;
}
.user_show_talk_content {
border-color: #aaa;
float: left;
}


.user_show_balloon p {
margin: 0 0 20px;
}
.user_show_balloon p:last-child {
margin-bottom: 0;
}
/* 三角部分 */
.user_show_talk_content:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #aaa;
top: 8px;
left: -20px;
}
.user_show_talk_content:after {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #d7ebfe;
top: 8px;
left: -19px;
}
</style>