<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="container clearfix">
  <table>
  <% @user_locations.each do |pt| %>

        <tr>
          <td>
        		<a class="pull-left" href="#">
      		<%= attachment_image_tag pt, :image,:size => "70x70",fallback: '/images/no_image2.png', class: "place_image" %>
    			</a>
          </td>
          <td>
    	  		<div class="media-body">
    	    		<h6 class="media-heading"><%= pt.adress %></h6>
    	        	<p class="location_comment"><%= pt.comment %></p>
    	        	<ul class="list-inline list-unstyled">
      		  			<li>
      		  			   <i class="glyphicon glyphicon-calendar"></i> <%= pt.created_at.strftime('%Y/%m/%d') %>
      		  			 |</li>
    	            <li>
    	               <i class="glyphicon glyphicon-comment"> <%= pt.place_talk_comments.count %>コメント</i>
    		        	</li>
                  <% if pt.favorited_by?(current_user) %>
                  <li>
                    <%= link_to location_favorites_path(pt,location_id: pt.id), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= pt.favorites.count %> いいね
                    <% end %>
                  </li>
                    <% else %>
                    <li>
                    <%= link_to location_favorites_path(location_id: pt.id), method: :post do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <%= pt.favorites.count %> いいね
                    <% end %>
                  </li>
                  <% end %>
    		          <br>
                  <li>
    		            <%= link_to "Show", place_talk_path(pt.id) %>
    		           |</li>
    		            <% if @user == current_user %>
    		          <li>
    						    <%= link_to "Edit", edit_place_talk_path(pt.id) %>
    		          </li>
    		            <% end %>
    				    </ul>
    			  </div>
          </td>
        </tr>
	<% end %>
  </table>
  <div class="location_page"><%= paginate(@user_locations) %></div>
</div>
<style>
.container {
  margin-top:10px;
}
.location_comment{
  text-align: left;
  margin:0 0 0 3px;
}

.list-inline{
  text-align: left;
}

.list-inline >li{
  font-size: 10px;
}
.location_page{
  float: left;
}
.location_page > .pagination{
  margin: 0 auto;
}

.location_page > .pagination > .current{
  margin:0 auto;
  display: inline;
}
</style>