<head>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<div class="user_syow_head">
	<div class="cont_principal">
		<div class="cont_central">
			<div class="cont_modal">
				<div class="cont_photo">
					<div class="cont_img_back">
				    	<%= attachment_image_tag @user, :image, format: 'jpeg' ,fallback: '/images/no_image.jpg' %>
					</div>
					<div class="cont_mins">
						<div class="cont_icon_right">
							<%= link_to edit_user_path(@user.id) do %>
							<i class="fas fa-edit"></i>
							<% end %>
						</div>
					</div>
					<div class="cont_detalles">
						<h3><%= @user.username %></h3>
						<p><%= @user.users_comment %></p>
					</div>
				</div>
				<div class="cont_text_ingredients clearfix">
					<div class="cont_over_hidden">
					    <div class="cont_tabs">
						    <ul id="tab">
								<li class="tab_menu" id = 0><a href="#tab0" id="first" class="now"><i class="fas fa-comments"> profile</i></a></li>
								<li class="tab_menu" id = 1><a href="#tab1" id="a1"><i class="fas fa-history"> 投稿履歴</i></a></li>
								<li class="tab_menu" id = 2><a href="#tab2" id="a2"><i class="fab fa-gratipay"><span style="font-size: 12px">お気に入り</span></i></a></li>
								<li class="tab_menu" id = 3><a href="#tab3" id="a3"><i class="fas fa-comment"> チャット</i></a></li>
						    </ul>
					    </div>
					    <div class="area">

							<div id="section0" class="litle_menu current">
							    <h3 class="litle_title">profile</h3>
							    <div class="user_content"><%= @user.profile %></div>
							    <hr>
							    <%= render 'users/tag_list', tag_list: @user.interest_list %>
							    <%= render 'tag_map', users: @user.find_related_interests %>
							</div>
							<div id="section1" class="litle_menu">
							    <h3 class="litle_title">投稿履歴</h3>
							      <%= render 'tab1', user: @user,user_locations: @user_locations %>
							</div>
							<div id="section2" class="litle_menu">
							    <h3 class="litle_title">お気に入り</h3>
							    <%= render 'tab2', user: @user %>
							</div>
							<div id="section3" class="litle_menu">
							    <h3 class="litle_title">チャット</h3>
							    <%= render 'tab3', user: @user %>
							</div>
						</div>
					</div>
					<div id="botan" class="cont_btn_open_dets">
				      <i class="fas fa-chevron-right"></i>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
$(function(){
	$("#tab li a").click(function(){
	    active =  $(this).attr("href");
	    // console.log(active)
    	Cookies.set('Tab', active, { expires: 1 });
    });
    	// console.log(document.cookie)
    $(function(){
	   last = Cookies.get('Tab')
	   // console.log(last)
	  	if(last != null){
	  	$('.cont_modal').addClass('cont_modal_active')
	  	window.location.hash = last;
	  	var t = last.substr( 4, 1 );
	  	class_name = "section" + t;
	  	$(".litle_menu").hide();
	 	$("#" + class_name).fadeIn();
	 	a_name = "a" + t;
	 	// console.log(a_name)
	 			if ($('#tab li a').hasClass('now')) {
				$('#tab li a').removeClass('now');
	 			$("#" + a_name).addClass("now")
	  	// console.log("a[herf = last]")
		};
		};
	});
})


$(function(){
	$('.tab_menu').on('click',function(){
 		id = $(this).attr("id");
 		class_name = "section" + id;
 		$(".litle_menu").hide();
 		$("#" + class_name).fadeIn();

 	});

	$(document).on('click', '#botan', function(){
		if ($('.cont_modal').hasClass('cont_modal_active')) {
			$('.cont_modal').removeClass('cont_modal_active');
		} else {
			$('.cont_modal').addClass('cont_modal_active');
		}
	});

　　$("#tab li a").click(function () {
　　　$("#tab li a").removeClass("now");
　　　$(this).addClass("now");
　　});

})

// 新着プッシュ通知
$(document).ready(function(){
	Push.Permission.request();
	Push.create('更新履歴', {
	  body:'<%= render 'push', user: @talks %>',
	  icon: '',
	  timeout: 8000, // 通知が消えるタイミング
	  vibrate: [100, 100, 100], // モバイル端末でのバイブレーション秒数
	  onClick: function() {
	  // 通知がクリックされた場合の設定
	  console.log(this);
	  }
	});
})
</script>

