

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="container">
    <div class="row user_profile">
        <div class=" col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                	<%= form_for(@place_talk) do |f| %>
					<div class="users_edit_errors">
					<% if @place_talk.errors.any? %>
						<h3><%= @place_talk.errors.count %>件のエラーがあります</h3>
						<ul>
							<% @place_talk.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					<% end %>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
									<div>
										<h4 class="user_edit_font">Photo</h4>
										<%= f.attachment_field :image %>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="centered-text col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                    <div itemscope="" itemtype="http://schema.org/Person">
                                       <p><span itemprop="affiliation">
                                        <h4>Content(作品名)</h4>
										<!-- ここにContentモデルに保存させるような記述 -->
										</span></p>
										<h4>Place(場所名)※任意</h4>
										<%= f.text_field :place_name,class: "users_edit_account_edit"%>
                                    	  　<p><span itemprop="affiliation">
										<h4>Prefecture(県)</h4>
										<%= f.text_field :prefecture,class: "users_edit_account_edit"%>県</span></p>
										<h4>adress(住所)</h4>
										<%= f.text_field :adress,class: "adress"%>
                                        <p><span itemprop="affiliation">
                                        <h4>Comment※任意</h4>
										<%= f.text_field :place_talk,class: "users_edit_account_edit"%>　
										</span></p>
                                       	<div>
										<%= f.submit '投稿する', class: "users_edit_submit" %>　
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <% end %>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div id="social-links" class=" col-lg-12">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 social-btn-holder">
                                	<!-- ここにタグいれる予定 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


