<!DOCTYPE html>
<html>
  <head>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    <title>Canatap</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ヘッダー -->
    <header id="head clearfix">


        <div class="products_index_heade_center">
          <div class="location_result">
            <div class="location_new">
            <% @place_talks.each do |new_p| %>
            <span><%= new_p.created_at.strftime('%Y/%m/%d') %></span>
            <span><%=new_p.username %>さんが</span>
            <span><%=new_p.adress %>に</span>
            <span><%=new_p.name %>を登録しました。</span><br>
            <% end %>
          </div>
          </div>
        </div>
        <div class="products_index_heade_right">
          <table class="products_index_header_itembox">
            <!-- 検索機能-->
          <th class="search">
            <dl class="searchbox">
              <%= search_form_for @search, url: place_talks_path do |f| %>
                <dt><%= f.text_field :name_or_username_or_adress_or_prefecture_cont ,placeholder: '住所を入力....' %></dt>
                <dd><%= f.submit ("検索") , class: 'search-btn' %></dd>
              <% end %>
            </dl>
          </th>

              <!-- ここはログイン時のみ -->
          <tr>
            <% if user_signed_in? %>
              <td class="products_index_header_item">
                <%= link_to current_user.username, user_path(current_user.id), { :class => "products_index_header_font" }  %>
              </td>
              <!-- ここから管理者ログイン時のみリンク表示 -->
              <% if current_user.try(:admin?) %>
              <td class="products_index_header_item">
                <div>
                <%= link_to "管理ページ", "/admin", { :class => "products_index_header_font" } %>
                </div>
              </td>
              <% end %>
               <!-- ここまで管理者ログイン時のみリンク表示 -->
              <td class="products_index_header_item">
                <%= link_to "ログアウト", destroy_user_session_path, :style=>"color: #222222; text-decoration:none; font-size:14px", method: :delete  %>
              </td>
              <!-- ここ以下がログアウト時のみ -->
            <% else %>
              <td class="products_index_header_item">
                <%= link_to "新規登録", new_user_registration_path,:style=>"color: #222222; text-decoration:none; font-size:14px" %>
              </td>
              <td class="products_index_header_item">
                <%= link_to " ログイン", new_user_session_path,:style=>"color: #222222; text-decoration:none; font-size:14px" %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

    </header>
    <div class="user_body">
      <div class="products_index_header_title">
        <%= link_to place_talks_path do %>
        <img src='/images/logo4.png'class="products_index_header_logo">
        <% end %>

      <!-- deviseのエラーメッセージの表示領域 -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
        <footer>
      <nav class="products_index_footer">
        <ul class="products_index_footer_itembox clearfix">
<!--             <li class="products_index_footer_item">
              <%#= link_to "お問い合わせ", new_mail_path,:style=>"color:white; text-decoration:none;" %>
            </li> -->
            <li class="products_index_footer_item">
              <%= link_to "このサイトについて", homes_about_path,:style=>"color:white; text-decoration:none;" %>
            </li>
            <li>
              <span class="products_index_footer_c">©︎kusano</span>
            </li>
          </ul>
      </nav>
    </footer>
  </body>
  <!-- ここからフッター -->

</html>
<!-- <script>
  $('.search_btn').click(function(){
      $('.location_new').css('display','none');
      $('.location_result').css('display','block');
  });
</script> -->

<style>
.peke {
    background-position: -35px 0;
}
.drawr {
    display: none;
    background-color:rgba(239, 105, 152, 0.51);
    position: absolute;
    top: 0px;
    left:0px;
    width:202px;
    height: 736px;
    padding:120px 5px 20px 10px;
    box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.16);
    z-index: 9998;
  }
/* 検索ボックス */
.products_index_heade_center{
  width: 830px;
  height: 100px;
  margin: 0;
  margin-left: 135px;
  padding: 10px 80px 0;
  float: left;
}

.products_index_heade_right{
  height: 100px;
  width: 370px;
  margin-right: 50px;
  float: left;
}

.search{
  margin-left: 100px;
  margin-bottom: 10px;
}
dl.searchbox{
  width: 300px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin: 10px 0 0 0;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  height:20px;
  line-height:20px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#01DFD7;
  width:100%;
  height:24px;
  line-height:24px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#04a09b;
}
</style>
